body {
    background-color: lightgray;
    font-size: 120%;
}
#id1 {
    color:green;
    margin: 25px;
    border: 3px solid #543215;
    padding: 2px; 
    font-size: 50px; 
    border-radius: 15px; 
}
#id2 {
    background-color: honeydew;
    border :6px dotted #09243d;
    border-radius: 18px;
    padding-left: 30px;
    padding-top:30px;
    margin:25px;
    
}
.cls4 {
    text-align: center;
    color:orangered;
    font-size: 200%;
}
.cls5 {
    border : 8px dashed #09243d;
    text-align: center;
    padding: 2px;
    margin:auto;
    width:30%;
    background-color: honeydew;
    border-radius: 8px;
}

.cls6 {
    border:3px double #09243d;
    padding:5px;
    margin:5px;
    background-color: honeydew;
    border-radius:10px;
    padding-bottom: 10px;
    
}
.cls1 {
    float:left;
    width:50%;
}
.cls2 {
    float:left;
    width:30%;
}
.cls3 {
    text-align: center;
    padding:5px;
    margin:2px;
}
.btn1 {
    font-size: 25px;
    border :2px double #09243d;
    border-radius: 10px;
}